@charset "UTF-8";

*{
	list-style:none;
}
nav{
	display:flex;
}

.cart-wrap{
width:100%;
margin: 10px auto;
position: relative;
}
.cart-wrap img{
vertical-align: middle;
}
.cart-text{
position:absolute;
width:100%;
transform:translate(-47%, -130%);
font-size: 20px;
font-family:'ypseo';
text-align:center;
}
