<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<style>

#img{
    width: 240px; height: 240px;
    border: 2px solid #EDEDE6;
    border-radius: 10px;
    float: left;
    margin: 45px;
    background-size: 100% 100%;
}
.itemContainer{
	display:flex;
	justify-content:center;
	margin-top:20px;
}
.title{
	color: #335E3B;
	font-size:larger;
	font-weight:bolder;
}
a, a:visited{
	display:block;
	font-size:larger;
	color: #335E3B;
	text-decoration:none;
	padding:10px;
	margin:10px;
	
}
</style>
</head>
<body>
<div th:replace="~{/fragments/fragment-header.html :: fragment-nav}"></div>
<main>
	<div class="itemContainer mostSoldItems">
		<h3 class="title">인기 상품 </h3>
		<ul th:each="mostSoldList : ${mostSoldList}">
			<li class="pno" style="display:none;">[[${mostSoldList.pno}]]</li>
			<li id="img" th:style="'background-image: url(/images/user/' + ${mostSoldList.fileName} + ');'">
			<li><a id="pname" th:href="@{/user/prod_detail(pno=${mostSoldList.pno})}">[[${mostSoldList.pName}]]<img th:if="${mostSoldList.status =='soldout'}" src="/img/free-icon-out-of-stock-5578624.png.png"></a></li>	
			<li>₩[[${mostSoldList.pPrice}]]</li>	
				
		</ul>
	</div>
	<div class="itemContainer newestItems">
	<h3 class="title">신상품 </h3>
		<ul th:each="prodList : ${prodList}">
			<li class="pno" style="display:none;">[[${prodList.pno}]]</li>
			<li id="img" th:style="'background-image: url(/images/user/' + ${prodList.fileName} + ');'">
			<li><a th:href="@{/user/prod_detail(pno=${prodList.pno})}">[[${prodList.pName}]]</a></li>	
			<li>₩[[${prodList.pPrice}]]</li>	
			<li th:if="${prodList.status =='soldout'}"><img src="/img/free-icon-out-of-stock-5110176.png"></li>	
		</ul>
	</div>

</main>
<script th:inline="javascript">
const items = document.querySelectorAll("#img");

items.forEach(item=>{
	item.addEventListener("click", function(e){
		console.log(e.target)
		const pno = e.target.parentElement.querySelector(".pno").innerText;
		location.href="/user/prod_detail?pno="+pno;
		
	})
})

</script>

</body>
</html>