<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<style>
img{
	width:100px;
	height:100px;
}
.title{
	color: #335E3B;
	font-size:xx-large;
	font-weight:bolder;
	margin:100px auto;
}
.container{
	width:1800px;
	display:flex;
	justify-content:center;
	margin:20px auto;
}
table th {
	border-bottom:1px solid #335E3B; 
	padding:30px;
	color: #335E3B;
}

td {
	border-bottom:1px solid #335E3B; 
	width:500px;
}
input{
	width:30px;
}
</style>
</head>
<body>
<div th:replace="~{/fragments/fragment-header.html :: fragment-nav}"></div>
<main>
	<h1>cart 화면</h1>
		<table class="container">
			<tr>
				<th>check All <input id="checkAll" type="checkbox"></th>
				<th>상품 사진</th>
				<th>상품명</th>
				<th>상품 수량</th>
				<th>상품 가격</th>
				<th>총 가격</th>
				<th>삭제</th>
			</tr>
			<tr th:each="cartList : ${cartList}">
				<td><input class="checkBox" type="checkbox"></td>
				<td><img th:src="@{|/images/user/${cartList.product.fileName}|}"></td>
				<td>[[${cartList.product.pName}]]</td>
				<td>
					<span style="display:none;" id="dec">◀</span>
					<span class="orderQuan" th:text="${cartList.cQuan}">0</span>
					<span style="display:none;" id="inc">▶</span>
					<button class="changeQuanBtn">수량변경</button>
				</td>
				<td>[[${cartList.product.pPrice}]]</td>
				<td style="display:none;"><input id="pno" style="display:none;" type="text" name="pno" th:value="${cartList.product.pno}"></td>
				<td class="itemTotalPrice" th:text="${#numbers.formatInteger(cartList.cQuan * cartList.product.pPrice, 0)}"></td>
				<td class="deleteBtns">❌</td>
			</tr>
			<tr>
				<th class="title" colspan='4'>TOTAL   : </th>
				<td class="title" colspan='3' id="total"> </td>
			</tr>
		</table>
		<button onclick="goToOrder()">주문하기</button>
</main>

<script th:inline="javascript">



const checkAll = document.querySelector("#checkAll");
const deleteBtns = document.querySelectorAll(".deleteBtns");
const checkBoxes = document.querySelectorAll(".checkBox");
const changeQuanBtns = document.querySelectorAll(".changeQuanBtn");
const itemTotalPrices = document.querySelectorAll(".itemTotalPrice");
let sum=0;

//수량 변경하기
changeQuanBtns.forEach(btn=>{
	btn.addEventListener("click", function(e){
		const decBtn = e.target.parentElement.querySelector("#dec");     
	    const incBtn = e.target.parentElement.querySelector("#inc");   
		const quan = e.target.parentElement.querySelector(".orderQuan");
	    const currentQuan = quan.textContent;
	    
	    
	    if (btn.dataset.state === "editing") {
            // 이미 수정중일때는 변경된 수량을 저장
            const input = e.target.parentElement.querySelector("input[name='sQuan']");
            const newQuan = input.value;
            quan.textContent = newQuan;

            // 화살표버튼 숨기기
            decBtn.style.display = "none";
            incBtn.style.display = "none";

            // 확인버튼을 다시 수량변경으로 바꿔주기 + viewing으로 상태바꿔주기
            btn.textContent = "수량변경";
            btn.dataset.state = "viewing";
        } else {
          	//viewing상태일때는 수정할 수 있도록 바꿔주기

            // 수량칸 input으로 바꿔주기
    	    quan.innerHTML = "<input type='text' name='sQuan' value='"+ currentQuan + "'>";

            // 화살표버튼보이기
            decBtn.style.display = "inline";
            incBtn.style.display = "inline";

            // 확인버튼을 다시 수량변경으로 바꿔주고 + editing으로 상태바꿔주기
            btn.textContent = "확인";
            btn.dataset.state = "editing";
            
            
          //클릭으로 수량바꿔주는 버튼 
            decBtn.addEventListener("click", function(e){
    				console.log(e.target.parentElement.querySelector("input").value)
    				let orderQuan = Number(e.target.parentElement.querySelector("input").value);
    				orderQuan--;
    				if(orderQuan > 0){
    					e.target.parentElement.querySelector("input").value = orderQuan;
    				}
    			})
            incBtn.addEventListener("click", function(e){
    				let orderQuan = Number(e.target.parentElement.querySelector("input").value);
    				orderQuan++;
    				if(orderQuan > 1){
    					e.target.parentElement.querySelector("input").value = orderQuan;
    				}
    			}) 
        }
	})
})

deleteBtns.forEach(btn=>{
	btn.addEventListener("click", function(e){
	let pno = e.target.parentElement.querySelector("#pno").innerText;
	location.href="/member/deleteFromCart?pno="+pno;
	})
})
checkAll.addEventListener("click", function(e){
	 const allChecked = Array.from(checkBoxes).every(box => box.checked);
	  checkBoxes.forEach(box => {
	        box.checked = !allChecked;
	    });
	
})
checkBoxes.forEach(box => {
    box.addEventListener('click', function() {
        if (!this.checked) {
            checkAll.checked = false;
        } else if (Array.from(checkBoxes).every(box => box.checked)) {
            checkAll.checked = true;
        }
    });
});

function goToOrder(){
	const selectedItems = [];

    checkBoxes.forEach(box => {
        if (box.checked) {
            const pno = box.parentElement.parentElement.querySelector("#pno").value;
            const quan = box.parentElement.parentElement.querySelector(".orderQuan").textContent;
            selectedItems.push({ pno: pno, quan: quan });
        }
    });

    const data = JSON.stringify(selectedItems);

    fetch("/member/prod_orderFromCart", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: data
    })
    .then(response => {
        if (response.ok) {
            return response.text();
        }
        throw new Error("Network response was not ok.");
    })
    .then(data => {
        console.log(data);
        // 성공적으로 주문이 완료되었을 때
        if(data == true){
        	alert("주문이 성공적으로 완료되었습니다. 메인화면으로 이동합니다.");
         location.href = "/";
        }else{
        	alert("주문하려는 상품의 수량이 재고보다 많습니다. 다시 시도해주세요");
        }
    })
    .catch(error => {
        console.error("There was a problem with the fetch operation:", error);
    });
}


itemTotalPrices.forEach(prices=>{
	 let price = Number(prices.innerText);
	 sum += price;
	 document.querySelector("#total").innerHTML = sum + " 원";
})
</script>

</body>
</html>