<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
<header>
	<nav>
		<a href="/"><img id="logo" style="width:50px; height:50px;" src="/img/logo.jpg"></a>
		<a href="/user/shop">shop</a>
		<div class="cart-wrap" onclick="location.href='/member/cart'">
			<div class="cart-image">
				<img style="width:50px; height:50px;" src="/img/shopping_cart.png">
			</div>
			<div  class="cart-text">
				<span>0</span>
			</div>
		</div>
		<th:block th:if="${session.id == null}">
			<a href="/member/mem_regForm">회원가입하기</a>
			<a href="/member/login">로그인하기</a>
		</th:block>
		<th:block th:if="${session.id != null}">
			<span>[[${session.id}]] 님 어서오세요 😉<span>
			<a href="/member/logout">로그아웃하기</a>
		</th:block>
		<a href="/admin/admin_main">관리자페이지로가기</a>
	</nav>
</header>
<main>
	<form action="/member/mem_regist" method="post">
		<input type="text" name="userName" placeholder="아이디*">
		<input type="password" name="pw" placeholder="비밀번호*">
		<input type="password" name="pw2" placeholder="비밀번호확인*">
		<input type="text" name="name" placeholder="이름*">
		<input type="text" name="addr" placeholder="주소*">
		<input type="text" name="tel" placeholder="번호*">
		<input type="submit" value="제출">
	</form>
</main>
</body>
</html>