<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Flaky filo - 플레키필로</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<style>
.title{
	color: #335E3B;
	font-size:xx-large;
	font-weight:bolder;
	margin:100px auto;
}
.container{
	width:1800px;
	display:flex;
	justify-content:center;
	margin:20px auto;
}
table th {
	border-bottom:1px solid #335E3B; 
	padding:30px;
	color: #335E3B;
}

td {
	border-bottom:1px solid #335E3B; 
	width:500px;
}

</style>
</head>
<body>
<div th:replace="~{/fragments/fragment-header.html :: fragment-nav}"></div>
<main >
	<h1 class="title">마이페이지</h1>
	<table class="container">
		<tr>
			<th>회원 아이디</th>
			<td>[[${member.userName}]]</td>
		</tr>
		<tr>
			<th>회원 이름</th>
			<td>[[${member.name}]]</td>
		</tr>
		<tr>
			<th>회원 주소</th>
			<td>[[${member.addr}]]</td>
		</tr>
		<tr>
			<th>회원 전화번호</th>
			<td>[[${member.tel}]]</td>
		</tr>
	</table>
	<button onclick="location.href='/member/member_editForm'">회원정보수정하기</button>
	<div class="title">주문내역 리스트</div>
	<table class="container">
		<tr>
			<th>번호</th>
			<th>주문 번호</th>
		</tr>
		<tr th:each="orderNoList, orderNoListStat : ${orderNoList}">
		    <th>[[${orderNoListStat.count}]]</th>
			<td><a th:href="@{/member/order_detail(orderNo=${orderNoList})}">[[${orderNoList}]]</a></td>
		</tr>
	</table>
</main>

<script th:inline="javascript">

</script>

</body>
</html>