<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Flaky filo - 플레키필로</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<style>
img{
	width:100px;
	height:100px;
}
.title{
	color: #335E3B;
	font-size:xx-large;
	font-weight:bolder;
	margin:100px auto;
}
.container{
	width:1800px;
	display:flex;
	justify-content:center;
	margin:20px auto;
}
table th {
	border-bottom:1px solid #335E3B; 
	padding:30px;
	color: #335E3B;
}

td {
	border-bottom:1px solid #335E3B; 
	width:500px;
}
</style>
</head>
<body>
<div th:replace="~{/fragments/fragment-header.html :: fragment-nav}"></div>
	<main>
	<h1 class="title">주문 내역 상세보기</h1>
	<table class="container">
				<tr>
					<th>상품 사진</th>
					<th>상품명</th>
					<th>상품 수량</th>
					<th>상품 가격</th>
					<th>총 가격</th>
				</tr>
				<tr th:each="order : ${order}">
					<td><img th:src="@{|/images/user/${order.product.fileName}|}"></td>
					<td>[[${order.product.pName}]]</td>
					<td>
						<span class="orderQuan" th:text="${order.sQuan}">0</span>
					</td>
					<td>[[${order.product.pPrice}]]</td>
					<td class="itemTotalPrice" th:text="${#numbers.formatInteger(order.sQuan * order.product.pPrice, 0)}"></td>
				</tr>
				<tr>
					<th class="title" colspan='3'>TOTAL   : </th>
					<td class="title" colspan='2' id="total"> </td>
				</tr>
			</table>
			<button onclick="cancelOrder()">주문 취소</button>
	</main>
<script th:inline="javascript">
 
 const itemTotalPrices = document.querySelectorAll(".itemTotalPrice");
 const orderNo = [[${orderNo}]];
 let sum=0;
 
 itemTotalPrices.forEach(prices=>{
	 let price = Number(prices.innerText);
	 sum += price;
	 document.querySelector("#total").innerHTML = sum + " 원";
 })
 
 function cancelOrder(){
	 if(confirm("주문 취소 후 철회는 불가능 합니다. 정말로 해당 주문을 취소하시겠습니까?")){
		 const xhttp = new XMLHttpRequest();
		  xhttp.onload = function() {
		    if(this.responseText == "true"){
		    	alert("해당 주문이 성공적으로 취소되었습니다. 주문 내역 리스트로 돌아갑니다.")
		    	location.href="/member/myPage";
		    };
		    }
		  xhttp.open("GET", "/member/cancel_order?orderNo="+orderNo, true);
		  xhttp.send();
	 }
 }
</script>
</body>
</html>