<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Flaky filo - 플레키필로</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<style>
.title{
	color: #335E3B;
	font-size:xx-large;
	font-weight:bolder;
	margin:100px auto;
}
form{
	width:1800px;
	margin:20px auto;
}
input[type="text"],input[type="password"]{
	width:40%;
	padding:10px;
	margin-bottom:10px;
}
input[type="submit"]{
	width:40%;
    padding:10px;
	background-color:#EDEDE6;
	color: #335E3B;
}
input[type="submit"]:hover{
	width:40%;
    padding:10px;
	background-color:#335E3B;
	color: #EDEDE6;
}
</style>
</head>
<body>
<div th:replace="~{/fragments/fragment-header.html :: fragment-nav}"></div>
<main>
<h1 class="title">로그인</h1>
	<form action="/member/mem_login" method="post">
		<input type="text" name="userName" placeholder="아이디*"> <br>
		<input type="password" name="pw" placeholder="비밀번호*"> <br>
		<input type="submit" value="제출">
	</form>
</main>	
<script th:inline="javascript">
	if([[${result}]] != null){
		if([[${result}]] == "wrongPw"){
			alert("비밀번호가 일치하지 않습니다. 다시 입력해주세요");
		}else if([[${result}]] == "noId"){
			alert("입력하신 아이디에 일치하는 회원정보가 없습니다. 다시 입력해주세요");
		}
	}
</script>
</body>
</html>