<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<header>
	<nav>
		<a href="/"><img id="logo" style="width:50px; height:50px;" src="/img/logo.jpg"></a>
		<a href="/user/shop">shop</a>
		<div class="cart-wrap" onclick="location.href='/member/cart'">
			<div class="cart-image">
				<img style="width:50px; height:50px;" src="/img/shopping_cart.png">
			</div>
			<div  class="cart-text">
				<span>0</span>
			</div>
		</div>
		<th:block th:if="${session.id == null}">
			<a href="/user/mem_regForm">회원가입하기</a>
			<a href="/user/login">로그인하기</a>
		</th:block>
		<th:block th:if="${session.id != null}">
			<span>[[${session.id}]] 님 어서오세요 😉<span>
			<a href="/member/logout">로그아웃하기</a>
			<a href="/member/myPage">마이페이지</a>
		</th:block>
		<a th:if="${session.id == 'admin'}" href="/admin/admin_main">관리자페이지로가기</a>
	</nav>
</header>
<main>
	<form action="/member/mem_login" method="post">
		<input type="text" name="userName" placeholder="아이디*">
		<input type="password" name="pw" placeholder="비밀번호*">
		<input type="submit" value="제출">
	</form>
</main>	
<script th:inline="javascript">
	if([[${result}]] != null){
		if([[${result}]] == "wrongPw"){
			alert("비밀번호가 일치하지 않습니다. 다시 입력해주세요");
		}else if([[${result}]] == "noId"){
			alert("입력하신 아이디에 일치하는 회원정보가 없습니다. 다시 입력해주세요");
		}
	}
</script>
</body>
</html>