<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Flaky filo - 플레키필로</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<style>
img{
	width:500px;
	height:500px;
	margin-right:100px;
}
.title{
	color: #335E3B;
	font-size:xx-large;
	font-weight:bolder;
	margin:100px auto;
}
.container{
	width:1800px;
	display:flex;
	justify-content:center;
	margin:20px auto;
}
table th, td {
	border-bottom:1px solid #335E3B; 
	margin-right: 10px;
}
input{
	padding:10px;
	width:500px;
}
.review_write{
	margin:80px auto;
}

#reviewContainer{
	width:1000px;
	border-bottom:1px solid #335E3B;
	margin:10px auto;
}
#reviewContainer li{
	display:flex;
	padding:10px;
	justify-content: space-between;
}
.review{
margin-bottom:300px;
}
#inc, #dec{
	padding:3px;
}
</style>
</head>
<body>
<div th:replace="~{/fragments/fragment-header.html :: fragment-nav}"></div>
<main>
	<h1 class="title">상품 상세 페이지</h1>
	<div class="container">
		<img th:src="@{|/images/user/${prod.fileName}|}">
		<table>
			<tr>
				<th>상품명</th>
				<td>[[${prod.pName}]]</td>
			</tr>
			<tr>
				<th>상품 가격</th>
				<td>[[${prod.pPrice}]]</td>
			</tr>
			<tr>
				<th>상태 (판매/품절)</th>
				<td th:if="${prod.status == 'onStock'}">판매중</td>
				<td th:if="${prod.status == 'soldout'}">일시품절</td>
			</tr>
			<tr>
				<th>상품 상세 설명</th>
				<td>[[${prod.description}]]</td>
			</tr>
			<tr>
			 <td colspan='2'>수량 : <button id="dec">◀</button><span id="orderQuan">1</span><button id="inc">▶</button></td>
			</tr>
			<tr>
			 <td colspan='2'>
				<div class="orderContainer">
				<button id="addToCartBtn" onclick=''>장바구니에 담기</button>
				<button id="goToOrderBtn" onclick=''>주문하기</button>
			</div>
			</td>
			</tr>
			
		</table>
	</div>	
	
	<div class="review">
	<div class="review_write">
		<input id="content" type="text" name="content" placeholder="리뷰를 남겨보세요 b(￣▽￣)d">
		<button onclick="regReview(event)"> 리뷰등록하기 </button>
	</div>
	<div class="review_list">
		<ul id="reviewContainer" th:if="${review != null}" th:each="review : ${review}">
			<li><span>[[${review.content}]]</span> <span class="writer">[[${review.member.userName}]] <span th:if="${review.actualPurchase == 1}">  ✅</span></span> </li>
		</ul>
	</div>
	</div>
</main>
<script th:inline="javascript">

const decBtn = document.querySelector("#dec");
const incBtn = document.querySelector("#inc");
const orderQuanEl = document.querySelector("#orderQuan");
const addToCartBtn = document.querySelector("#addToCartBtn");
const goToOrderBtn = document.querySelector("#goToOrderBtn");
const orderContainer = document.querySelector(".orderContainer");
const reviewContainer = document.querySelector("#reviewContainer");
const pno = [[${prod.pno}]];
const status = [[${prod.status}]];
const cartQuanEl = document.querySelector("#cartQuan");

decBtn.addEventListener("click", function(e){
	let orderQuan = Number(orderQuanEl.innerText);
	orderQuan--;
	if(orderQuan > 0){
		orderQuanEl.innerHTML = orderQuan;
	}
})
incBtn.addEventListener("click", function(e){
	let orderQuan = Number(orderQuanEl.innerText);
	orderQuan++;
	if(orderQuan > 1){
		orderQuanEl.innerHTML = orderQuan;
	}
})
goToOrderBtn.addEventListener("click", function(){
	if(confirm("정말로 주문하시겠습니까?")){
		let orderQuan = Number(orderQuanEl.innerText);
			  
		  fetch("/member/prod_order?pno="+pno+"&&sQuan="+orderQuan, {
		        method: "POST",
		        headers: {
		            "Content-Type": "application/json"
		        }
		    })
		    .then(response => {
		        if (response.ok) {
		            return response.json();
		        }
		        throw new Error("Network response was not ok.");
		    })
		    .then(data => {
		        
		        // 성공적으로 주문이 완료되었을 때
		        if(data == true){
		        	alert("주문이 성공적으로 완료되었습니다.");
		        }else {
		        	alert("주문하려는 상품의 수량이 재고수량( "+ data +" 개)보다 많습니다. 다시 시도해주세요");
		        }
		    })
		    .catch(error => {
		        console.error("There was a problem with the fetch operation:", error);
		    });
	}
})


//상태가 품절일경우 장바구니에 담기 혹은 주문하기 버튼이 안보이게 처리
if(status == "soldout"){
	goToOrderBtn.style.display="none";
	addToCartBtn.style.display="none";
	orderContainer.innerHTML="<span style='color:red;'>이 상품은 현재 일시 품절로, 주문이 불가합니다.</span>";
}


addToCartBtn.addEventListener("click", function(){
	//장바구니에 아이템담아주기
	let orderQuan = Number(orderQuanEl.innerText);
	 const xhttp = new XMLHttpRequest();
	  xhttp.onload = function() {
	    if(this.responseText == "true"){
	    	alert("상품이 성공적으로 장바구니에 담겼습니다.");
	    }else{
	    	alert("상품을 장바구니에 담을 수 없습니다. 다시 시도해주세요😥");
	    }
	  }
	  xhttp.open("post", "/member/addToCart?pno="+pno+"&&sQuan="+orderQuan, true);
	  xhttp.send();
	
})

function regReview(){
	const content = document.querySelector("#content");
	location.href="/member/reg_review?pno="+pno+"&&content="+content.value;
}

</script>
</body>
</html>