<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<style>
img{
	width:100px;
	height:100px;
}
ul{
    width: 240px; height: 240px;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    background-color: #fff;
    float: left;
    margin: 45px;
    font: 900 18px/1 'Pretendard-Regular';
    text-align: center;
}
</style>
</head>
<body>
<header>
	<nav>
		<a href="/"><img id="logo" style="width:50px; height:50px;" src="/img/logo.jpg"></a>
		<a href="/user/shop">shop</a>
		<div class="cart-wrap" onclick="location.href='/member/cart'">
			<div class="cart-image">
				<img style="width:50px; height:50px;" src="/img/shopping_cart.png">
			</div>
			<div  class="cart-text">
				<span>0</span>
			</div>
		</div>
		<th:block th:if="${session.id == null}">
			<a href="/user/mem_regForm">회원가입하기</a>
			<a href="/user/login">로그인하기</a>
		</th:block>
		<th:block th:if="${session.id != null}">
			<span>[[${session.id}]] 님 어서오세요 😉<span>
			<a href="/member/logout">로그아웃하기</a>
			<a href="/member/myPage">마이페이지</a>
		</th:block>
		<a th:if="${session.id == 'admin'}" href="/admin/admin_main">관리자페이지로가기</a>
	</nav>
</header>
<main>
	<h1>상품 리스트</h1>
	
	<div>
		<ul th:each="list : ${list}">
			<li class="pno" style="display:none;">[[${list.pno}]]</li>
			<li><img th:src="@{|/images/user/${list.fileName}|}"></li>
			<li><a th:href="@{/user/prod_detail(pno=${list.pno})}">[[${list.pName}]]</a></li>	
			<li>[[${list.pPrice}]]</li>	
			<li th:if="${list.status =='soldout'}"><img src="/img/free-icon-out-of-stock-5110176.png"></li>	
		</ul>
	</div>
</main>
<script th:inline="javascript">
const items = document.querySelectorAll("li img");

items.forEach(item=>{
	item.addEventListener("click", function(e){
		console.log(e.target)
		const pno = e.target.parentElement.parentElement.querySelector(".pno").innerText;
		location.href="/user/prod_detail?pno="+pno;
		
	})
})

</script>
</body>
</html>